adjustText==0.8
affine==2.3.1
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.13
anyio==3.6.1
applaunchservices==0.3.0
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid==2.15.8
asttokens==2.0.5
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==21.4.0
autopep8==2.0.4
Babel==2.10.3
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.11.1
binaryornot==0.4.4
black==23.10.0
bleach==5.0.1
Bottleneck==1.3.7
branca==0.5.0
brokenaxes==0.5.0
brotlipy==0.7.0
cachetools==4.2.4
Cartopy==0.20.3
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.1
chardet==5.2.0
charset-normalizer==2.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.1.0
colorama==0.4.5
comm==0.1.4
conda==4.13.0
conda-package-handling==1.8.1
contourpy==1.1.0
cookiecutter==2.4.0
cryptography==37.0.2
cycler==0.11.0
cytoolz==0.11.2
dask==2022.6.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20230430
dill==0.3.5.1
docstring-to-markdown==0.13
docutils==0.20.1
earthengine-api==0.1.316
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fastjsonschema==2.15.3
ffmpeg==1.4
ffmpeg-python==0.2.0
Fiona==1.8.21
flake8==6.0.0
flit_core==3.7.1
folium==0.12.1.post1
fonttools==4.34.4
frozenlist==1.3.0
fsspec==2022.5.0
future==0.18.2
GDAL==3.5.0
geetools==0.6.14
geopandas==0.11.0
google-api-core==1.31.5
google-api-python-client==1.12.8
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.1
google-cloud-storage==2.4.0
google-crc32c==1.1.2
google-resumable-media==2.3.3
googleapis-common-protos==1.56.3
grpcio==1.47.0
h5py==3.7.0
httplib2==0.20.4
httplib2shim==0.0.3
idna==3.3
imagecodecs==2022.2.22
imageio==2.19.3
imageio-ffmpeg==0.4.7
imagesize==1.4.1
imbalanced-learn==0.10.1
importlib-metadata==6.8.0
importlib-resources==5.8.0
inflection==0.5.1
intervaltree==3.1.0
ipykernel==6.25.2
ipython==8.4.0
ipython-genutils==0.2.0
isort==5.12.0
jaraco.classes==3.3.0
jedi==0.18.1
jellyfish==1.0.1
Jinja2==3.1.2
joblib==1.2.0
Js2Py==0.71
json5==0.9.5
jsonschema==4.6.1
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyter-server==1.18.0
jupyterlab==3.4.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
keyring==24.2.0
kiwisolver==1.4.3
latexdiffcite==1.0.6
lazy-object-proxy==1.9.0
libmambapy==0.24.0
llvmlite==0.39.1
locket==1.0.0
mapclassify==2.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.7.2
matplotlib-inline==0.1.3
matplotlib-scalebar==0.8.1
mccabe==0.7.0
mdurl==0.1.2
mistune==0.8.4
mlxtend==0.22.0
more-itertools==10.1.0
multidict==6.0.2
multiprocess==0.70.13
munch==2.5.0
munkres==1.1.4
mypy-extensions==1.0.0
nbclassic==0.3.7
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netCDF4==1.6.0
networkx==2.8.4
notebook==6.4.12
notebook-shim==0.1.0
numba==0.56.4
numpy==1.23.0
numpydoc==1.6.0
opencv-python==4.6.0.66
openpyxl==3.1.2
packaging==23.2
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pathos==0.2.9
pathspec==0.11.2
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip==22.1.2
platformdirs==3.11.0
pluggy==1.3.0
pox==0.3.1
ppft==1.7.6.5
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.10.0
pycosat==0.6.3
pycparser==2.21
pydocstyle==6.3.0
pydot==1.4.2
pyflakes==3.0.1
Pygments==2.16.1
pyjsparser==2.7.1
pylint==2.17.7
pylint-venv==3.0.2
pyls-spyder==0.4.0
pynndescent==0.5.8
pyobjc-core==10.0
pyobjc-framework-Cocoa==10.0
pyobjc-framework-CoreServices==10.0
pyobjc-framework-FSEvents==10.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyproj==3.3.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.11
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.18.1
pyshp==2.3.0
PySocks==1.7.1
python-dateutil==2.8.2
python-lsp-black==1.3.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.7.4
python-slugify==8.0.1
pytoolconfig==1.2.6
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyu2f==0.1.5
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.2.0
QDarkStyle==3.1
qstylizer==0.2.2
QtAwesome==1.2.3
qtconsole==5.4.4
QtPy==2.4.0
rasterio==1.2.10
requests==2.28.1
rich==13.6.0
rioxarray==0.11.1
rope==1.10.0
rsa==4.8
Rtree==1.0.0
ruamel-yaml-conda==0.15.80
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.8.1
seaborn==0.13.2
Send2Trash==1.8.0
setuptools==63.1.0
Shapely==1.8.2
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.3.1
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
spyder==5.4.5
spyder-kernels==2.4.4
stack-data==0.3.0
statsmodels==0.14.0
tabulate==0.9.0
terminado==0.15.0
text-unidecode==1.3
textdistance==4.6.0
threadpoolctl==3.1.0
three-merge==0.1.1
tifffile==2022.5.4
tinycss2==1.1.1
tomli==2.0.1
tomlkit==0.12.1
toolz==0.11.2
tornado==6.2
tqdm==4.64.0
traitlets==5.11.2
types-python-dateutil==2.8.19.14
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
ujson==5.8.0
umap-learn==0.5.3
unicodedata2==14.0.0
uritemplate==3.0.1
urllib3==1.26.9
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
whatthepatch==1.0.5
wheel==0.37.1
wrapt==1.15.0
wurlitzer==3.0.3
xarray==2022.3.0
xgboost==1.7.5
xyzservices==2022.6.0
yapf==0.40.2
yarl==1.7.2
zipp==3.8.0
